@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,900i');

h2 {text-indent: 50px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 24px;}

p {text-indent: 50px;
    font-family: 'Raleway', sans-serif;}
    svg {background-color: blanchedalmond;}

#labeling {font-family: 'Raleway', sans-serif;
    font-style: italic;}

svg {
  background-color: grey;
}

rect.tiles {
  stroke: grey;
  stroke-width:1px;
}

text.yearLabel,
text.monthLabel,
text.legendLabel {
  font-size: 12pt;
  font-family: Consolas, courier;
  fill: #888;
}
